.stack-trace-text{
	display: inline-block;
    overflow: auto;
    width: 800px;
    font-size: 12px;
}
.logs-table{
	display: none;
}
.pure-table td{
	border-bottom: 1px solid #CCCCCC;
}
.upper-downer-butttons{
	position:relative;
    height:100px;
    width:100px;
}
.top, .bottom{
	position: absolute;
}
.top{
	top: 0;
}
.bottom{
	bottom: 0;
}
ul.days-list li{
	display: inline;
}
ul.days-list li a{
	font-size: 10px;
	text-decoration: none;
	color: #CCCCCC;
}
ul.days-list li a:HOVER {
	color: #000000;
}